/* General */

*,::after,::before{
    margin:0;
    padding:0;
}

html,body{
    display:flex;
    flex-direction: column;
    background-color: #EEE6DE;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.logo{
    width:5rem;
    height:5rem;
}

main{
    display: flex;
    flex-direction: column;
    gap:5rem;
}

h1,h2,h3{
    font-family: 'Lexend Deca', sans-serif;
    color: #8E2D12;
    font-size: 5rem;
    font-weight: 900;
}


/* Header */

header{
    background-color: #FFB254;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_logo{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-left: 2rem;
}

.head_logo > h1 {
    font-size: 2.5rem;
    color: #8E2D12;
}

.head_rest > ul{
    display:flex;
    list-style: none;
    gap: 3rem;
    margin-right: 3rem;
}

.head_rest > ul  a{
    text-decoration: none;
    color:#8E2D12;    
    font-size: 1.2rem;
    font-weight: 500;
}

/* Footer */
footer{
    margin-top: 50rem;
    display:flex;
    /* justify-content: space-between; */
    justify-content: center;
    height:50rem;
    background-color: #333333;
    color:#EEE6DE;
    gap:15rem;
    padding-top:1.5rem;
}

.footer-koba{
    display:flex;
    flex-direction: column;
    /* margin-le    /* margin-left: 15rem;ft: 15rem; */
    gap:0.5rem;
    margin-right:10rem;
}

#footer-heading{
    color:#EEE6DE;
}

.social-media{
    display:flex;
    margin-left:3rem;
    gap:2.5rem;
}

.trademark > p{
    font-size: 1.2rem;
    margin: 2rem 0 0.2rem -26rem;
}

.footer-info{
    display: flex;
    gap:15rem
    /* margin:2rem 15rem; */
}

.footer-info h4{
    font-size:1.8rem;
}

.footer-info ul{
    margin-top: 0.5rem;
    list-style: none;
}

.footer-info li{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}


/* Index Hero Section*/

.hero{
    display:flex;
    gap:2rem;
    margin-top: 16rem;
    padding:0 8rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-left:3rem;
    margin-right: -5rem;
}

.hero-text > p{
    font-size: 1.3rem;
}

.hero-btns{
    display: flex;
    gap:2rem;
}

.recipe-btn{
    background-color: #FFB254;
    border-radius: 0.5rem;
    border:none;
    padding:0.7rem 0rem;
    width:9.5rem;
    color:black;
    font-weight: 600;
    font-size:1.2rem;
    box-shadow: 0.2rem 0.2rem #966a34;
}

.recipe-btn:hover{
    transform: scale(1.05);
    background-color: #8E2D12;
    color:#ffffff;
}

.sign-up-btn{
    background-color: #BFBFBF;
    border-radius: 0.5rem;
    border:none;
    padding:0.7rem 0rem;
    width:9.5rem;
    color:black;
    font-weight: 600;
    font-size:1.2rem;
    box-shadow: 0.2rem 0.2rem #757575;
}

.sign-up-btn:hover{
    transform: scale(1.05);
    background-color: #5c5c5c;
    color:#ffffff;
}

.hero img{
    height:52rem;
    width:75rem;
    margin-top:-13rem;
    margin-right: -10rem;
}

/* Index Featured Recipes */

.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8rem;

}

.featured-recipes-container{
    display:flex;
    gap:15rem;
    justify-content: space-around;
}

.featured-recipe{
    width:23rem;
    height: 27rem;
    background-color: #FFB254;
    display:flex;
    flex-direction: column;
    border-radius: 0.5rem;
    align-items: center;
}


.featured-recipe-icon{
    width:23rem;
    height: 23rem;
    margin-top: -5rem;
}

.featured-recipe-chef{
    width:3.5rem;
    height:3.5rem;
    border-radius: 100%;
    align-self: flex-end;
    margin:1rem;
    border:0.2rem solid #EEE6DE;
}

.featured-recipe > h3{
    margin-top:-3.5rem;
    font-size: 2.2rem;
}

.featured-recipe > p{
    font-weight: 500;
    font-size:1.5rem;
    margin-top:0.5rem;
}

/* Features - Reviews */

.gray-index{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5rem 0;
    margin-top: 5rem;
}

.gray-index > h2{
    color:#EEE6DE;
}

.features-container{
    display:flex;
    justify-content: space-between;
    gap:12rem;
    margin-top:5rem;
}

.features-container > div{
    background-color: #EEE6DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25rem;
    height:35rem;
    gap:1.5rem;
    border-radius: 1.5rem;
}

.features-container > div > img{
    width:13rem;
    height: 13rem;
    margin-top: 2rem;
}

.features-container > div > h3{
    font-size: 2rem;
}

.features-container > div > p{
    max-width: 20rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.gray-index > hr{
    border: 0.3rem solid #EEE6DE;
    width: 100%;
    margin-top:5rem;
}

.app-reviews-container{
    display: flex;
    flex-direction: column;
    gap:8rem;
    margin-top: 10rem;
    justify-content: flex-start;
    padding:0 10rem;

}

.app-review{
    display: flex;
}

.user-review-img{
    width:18rem;
    height: 18rem;
    border-radius: 100%;
    flex-shrink: 0;
    /* border: 0.3rem solid #EEE6DE; */
    margin-top: 1.5rem;
}

.quote-icon{
    width:4rem;
    height:4rem;
    transform: rotate(180deg);
    margin:1rem;
}

.user-review-text{
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #EEE6DE;
    margin-left: 1.5rem;
}

.user-review-exp{
    margin-top:3rem;
    font-size:2rem;
    font-family: 'Playfair Display', sans-serif;
    color: #EEE6DE;
}

.user-review-name{
    font-weight: 500;
    font-size: 2rem;
}

.review-hr{
    border:0.1rem solid #EEE6DE;
    width:80%;
    margin-top: -2rem;
}

.review-hr:nth-child(2){
    margin-left: 21rem;
}



